Repository ROCm/omniperf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @coleramos425, @feizheng10, @dgaliffiAMD, @ROCm/rocm-documentation

.github/CODEOWNERS:

* @coleramos425 @feizheng10 @dgaliffiAMD

# Documentation files
docs/ @ROCm/rocm-documentation
*.md @ROCm/rocm-documentation
*.rst @ROCm/rocm-documentation
.readthedocs.yaml @ROCm/rocm-documentation

Re-implementing HBM stack / XCD info for incoming product sku
  src/utils/utils.py
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

change project language to HIP; identify tests as cmake subdir
  CMakeLists.txt
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

Add vcopy workloads for MI300A and MI300X
  tests/workloads/vcopy/MI300A_A1/SQ_IFETCH_LEVEL.csv
  tests/workloads/vcopy/MI300A_A1/SQ_INST_LEVEL_LDS.csv
  tests/workloads/vcopy/MI300A_A1/SQ_INST_LEVEL_SMEM.csv
  tests/workloads/vcopy/MI300A_A1/SQ_INST_LEVEL_VMEM.csv
  tests/workloads/vcopy/MI300A_A1/SQ_LEVEL_WAVES.csv
  tests/workloads/vcopy/MI300A_A1/pmc_perf.csv
  tests/workloads/vcopy/MI300A_A1/timestamps.csv
  tests/workloads/vcopy/MI300X_A1/SQ_IFETCH_LEVEL.csv
  tests/workloads/vcopy/MI300X_A1/SQ_INST_LEVEL_LDS.csv
  tests/workloads/vcopy/MI300X_A1/SQ_INST_LEVEL_SMEM.csv
  tests/workloads/vcopy/MI300X_A1/SQ_INST_LEVEL_VMEM.csv
  tests/workloads/vcopy/MI300X_A1/SQ_LEVEL_WAVES.csv
  tests/workloads/vcopy/MI300X_A1/pmc_perf.csv
  tests/workloads/vcopy/MI300X_A1/timestamps.csv
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

Update gpu-id on MI300 CI workloads and update test case
  tests/workloads/vcopy/MI300A_A1/SQ_IFETCH_LEVEL.csv
  tests/workloads/vcopy/MI300A_A1/SQ_INST_LEVEL_LDS.csv
  tests/workloads/vcopy/MI300A_A1/SQ_INST_LEVEL_SMEM.csv
  tests/workloads/vcopy/MI300A_A1/SQ_INST_LEVEL_VMEM.csv
  tests/workloads/vcopy/MI300A_A1/SQ_LEVEL_WAVES.csv
  tests/workloads/vcopy/MI300A_A1/pmc_perf.csv
  tests/workloads/vcopy/MI300A_A1/timestamps.csv
  tests/workloads/vcopy/MI300X_A1/SQ_IFETCH_LEVEL.csv
  tests/workloads/vcopy/MI300X_A1/SQ_INST_LEVEL_LDS.csv
  tests/workloads/vcopy/MI300X_A1/SQ_INST_LEVEL_SMEM.csv
  tests/workloads/vcopy/MI300X_A1/SQ_INST_LEVEL_VMEM.csv
  tests/workloads/vcopy/MI300X_A1/SQ_LEVEL_WAVES.csv
  tests/workloads/vcopy/MI300X_A1/pmc_perf.csv
  tests/workloads/vcopy/MI300X_A1/timestamps.csv
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

Remove outdated CTest case from CMakeLists
  CMakeLists.txt
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

Comply to formatting
  src/utils/utils.py
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

Missing test case
  tests/test_analyze_commands.py
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

Split rocprofv2 cmd args prior to subprocess call (#347)
  src/rocprof_compute_profile/profiler_rocprof_v2.py
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

Work around crash when profiling multi-process/multi-GPU application (#376)
  src/rocprof_compute_profile/profiler_rocprof_v2.py
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

update CI to build necessary vcopy binary via new additions to build system (a la, just run make)
  .github/workflows/mi-rhel9.yml
  CMakeLists.txt
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

Docs: refactor and integrate into ROCm docs portal (#362)
  .github/workflows/docs.yml
  CMakeLists.txt
  README.md
  docs/how-to/analyze/cli.rst
Owners: @coleramos425, @feizheng10, @dgaliffiAMD, @ROCm/rocm-documentation

Fix test failures on MI300X
  tests/test_profile_general.py
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

Update VERSION, CHANGELOG, and README citation for next release (#433)
  CHANGELOG.md
Owners: @ROCm/rocm-documentation

Docs housekeeping post-6.2.0 (#394)
  docs/how-to/analyze/cli.rst
  docs/sphinx/static/css/o_custom.css
Owners: @ROCm/rocm-documentation

Explicitly define Python path in CTest test declaration
  CMakeLists.txt
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

Tarball on rocm tags and MAINTAINERS guide (#402)
  .github/workflows/packaging.yml
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

Prep work for branch renaming (#389)
  .github/workflows/docs.yml
  CONTRIBUTING.md
Owners: @coleramos425, @feizheng10, @dgaliffiAMD, @ROCm/rocm-documentation

Fix ctests for MI100
  tests/test_profile_general.py
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

Check Python version on application launch (#393)
  docs/install/core-install.rst
Owners: @ROCm/rocm-documentation

mv changes to changelog.md
  CHANGELOG.md
Owners: @ROCm/rocm-documentation

Remove `dev` and `main` branch from workflows. (#404)
  docs/conf.py
  docs/how-to/analyze/cli.rst
  docs/how-to/profile/mode.rst
  docs/tutorial/includes/vector-memory-operation-counting.rst
  docs/tutorial/profiling-by-example.rst
Owners: @ROCm/rocm-documentation

External CI: enable CI triggers (#426)
  .azuredevops/rocm-ci.yml
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

Fix typo and CHANGELOG modification
  CHANGELOG.md
Owners: @ROCm/rocm-documentation
