Repository ROCm/omniperf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @coleramos425, @feizheng10, @dgaliffiAMD, @ROCm/rocm-documentation

.github/CODEOWNERS:

* @coleramos425 @feizheng10 @dgaliffiAMD

# Documentation files
docs/ @ROCm/rocm-documentation
*.md @ROCm/rocm-documentation
*.rst @ROCm/rocm-documentation
.readthedocs.yaml @ROCm/rocm-documentation

Tarball on rocm tags and MAINTAINERS guide (#402)
  .github/workflows/packaging.yml
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

Fix typo and CHANGELOG modification
  CHANGELOG.md
Owners: @ROCm/rocm-documentation

Rebranding of top-level excutable.
  src/rocprof-compute
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

Interleve TCC channel counters
  src/rocprof_compute_soc/soc_base.py
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

Work around crash when profiling multi-process/multi-GPU application (#376)
  src/rocprof_compute_profile/profiler_rocprof_v2.py
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

Rebranding of top level md files.
  CONTRIBUTING.md
Owners: @ROCm/rocm-documentation

Remove duplicate normal counters Interleve TCC channel counters in putput file e.g. TCC_HIT[0] TCC_ATOMIC[0] ... TCC_HIT[1] TCC_ATOMIC[1]
  src/rocprof_compute_soc/soc_base.py
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

Update VERSION, CHANGELOG, and README citation for next release (#433)
  CHANGELOG.md
  README.md
Owners: @ROCm/rocm-documentation

Remove unrelease prefix from CHANGELOG
  CHANGELOG.md
Owners: @ROCm/rocm-documentation

Split rocprofv2 cmd args prior to subprocess call (#347)
  src/rocprof_compute_profile/profiler_rocprof_v2.py
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

Remove `dev` and `main` branch from workflows. (#404)
  .github/workflows/docs.yml
  docs/conf.py
  docs/how-to/profile/mode.rst
  docs/tutorial/includes/vector-memory-operation-counting.rst
  docs/tutorial/profiling-by-example.rst
Owners: @coleramos425, @feizheng10, @dgaliffiAMD, @ROCm/rocm-documentation

Improve perfmon coalescing
  src/rocprof_compute_profile/profiler_rocprof_v2.py
  src/rocprof_compute_soc/soc_base.py
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

Remove unused method
  src/rocprof_compute_soc/soc_base.py
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

Fix code formatting
  src/rocprof_compute_soc/soc_base.py
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

Rename all occurrences of omniperf_soc to rocprof_compute_soc.
  .github/workflows/tarball.yml
  src/omniperf_base.py
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

Rebranding of github README.md and AUTHORS.
  README.md
Owners: @ROCm/rocm-documentation

Rename the remaining omniperf occurrences in src dir.
  src/rocprof-compute
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

Remove outdated omniperf_base.py
  src/omniperf_base.py
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

Rename all occurrences of omniperf_analyze to rocprof_compute_analyze.
  .github/workflows/tarball.yml
  utils/build.sh
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

Rebranding of top level md files.
  README.md
Owners: @ROCm/rocm-documentation

Docs: refactor and integrate into ROCm docs portal (#362)
  .github/workflows/docs.yml
  docs/conf.py
  docs/how-to/profile/mode.rst
  docs/install/core-install.rst
  docs/sphinx/static/css/o_custom.css
  docs/tutorial/includes/vector-memory-operation-counting.rst
  docs/tutorial/profiling-by-example.rst
Owners: @coleramos425, @feizheng10, @dgaliffiAMD, @ROCm/rocm-documentation

Rename all occurrences of omniperf_profile to rocprof_compute_profile.
  .github/workflows/tarball.yml
  src/omniperf_base.py
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

Rename of .github dir.
  .github/workflows/tarball.yml
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

Save accumulate counters to SQ_ files
  src/rocprof_compute_soc/soc_base.py
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

Update to work with rocprof v1
  src/rocprof_compute_profile/profiler_rocprof_v2.py
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

Fix to the tarball test
  .github/workflows/tarball.yml
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

Create dedicated subdirectory in perfmon configs for archs supporting roofline
  src/omniperf_soc/profile_configs/gfx90a/roofline/pmc_roof_perf.txt
  src/omniperf_soc/profile_configs/gfx940/roofline/pmc_roof_perf.txt
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

Update CHANGES
  CHANGELOG.md
Owners: @ROCm/rocm-documentation

updating expected exit codes for pytest
  tests/test_analyze_workloads.py
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

Rename CMake file and rename paths from omniperf to rocprofcompute.
  utils/build.sh
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

Support MI300 in PyTest profile tests
  tests/test_profile_general.py
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

Add support for --quiet flag to roofline
  src/utils/utils.py
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

Include Grafana assets in CMake build
  CMakeLists.txt
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

Fix formatting.
  .azuredevops/rocm-ci.yml
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

update test analyze scripts
  tests/test_analyze_workloads.py
  tests/test_profile_general.py
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

Add ability to overide arch when name missing in rocminfo
  src/rocprof_compute_soc/soc_base.py
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

Remove redundant code in PyTest
  tests/test_profile_general.py
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

wrap up test compilation with an ENABLE_TESTS option
  .github/workflows/mi-rhel9.yml
  CMakeLists.txt
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

Comply to Python formatting
  tests/test_analyze_commands.py
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

set CMAKE_HIP_ARCHITECTURES at configure time so that build matches desired execution environment
  .github/workflows/mi-rhel9.yml
  CMakeLists.txt
Owners: @coleramos425, @feizheng10, @dgaliffiAMD
