Repository ROCm/omniperf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @coleramos425, @feizheng10, @dgaliffiAMD, @ROCm/rocm-documentation, @koomie

Remove outdated omniperf_base.py
  src/omniperf_base.py
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

Improve perfmon coalescing
  src/rocprof_compute_profile/profiler_rocprof_v2.py
  src/rocprof_compute_soc/soc_base.py
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

Rename all occurrences of omniperf_analyze to rocprof_compute_analyze.
  utils/build.sh
Owners: @koomie

Rebranding of top level md files.
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @ROCm/rocm-documentation

Split rocprofv2 cmd args prior to subprocess call (#347)
  src/rocprof_compute_profile/profiler_rocprof_v2.py
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

Rename of .github dir.
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/workflows/rhel-8.yml
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

Save accumulate counters to SQ_ files
  src/rocprof_compute_soc/soc_base.py
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

Work around crash when profiling multi-process/multi-GPU application (#376)
  src/rocprof_compute_profile/profiler_rocprof_v2.py
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

Rename all occurrences of omniperf_profile to rocprof_compute_profile.
  src/omniperf_base.py
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

Docs: refactor and integrate into ROCm docs portal (#362)
  .github/workflows/dependabot.yml
  .github/workflows/docs.yml
  docs/conf.py
  docs/how-to/analyze/cli.rst
  docs/how-to/profile/mode.rst
  docs/install/core-install.rst
  docs/sphinx/static/css/o_custom.css
  docs/tutorial/includes/infinity-fabric-transactions.rst
  docs/tutorial/includes/occupancy-limiters-example.rst
  docs/tutorial/includes/vector-memory-operation-counting.rst
  docs/tutorial/profiling-by-example.rst
Owners: @coleramos425, @feizheng10, @dgaliffiAMD, @ROCm/rocm-documentation

Update to work with rocprof v1
  src/rocprof_compute_profile/profiler_rocprof_v2.py
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

Remove duplicate normal counters Interleve TCC channel counters in putput file e.g. TCC_HIT[0] TCC_ATOMIC[0] ... TCC_HIT[1] TCC_ATOMIC[1]
  src/rocprof_compute_soc/soc_base.py
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

Fix formatting.
  .azuredevops/rocm-ci.yml
Owners: @coleramos425, @feizheng10, @dgaliffiAMD

Rename all occurrences of omniperf_soc to rocprof_compute_soc.
  docs/how-to/analyze/cli.rst
  src/omniperf_base.py
  src/omniperf_soc/profile_configs/gfx90a/roofline/pmc_roof_perf.txt
  src/omniperf_soc/profile_configs/gfx940/roofline/pmc_roof_perf.txt
Owners: @ROCm/rocm-documentation, @coleramos425, @feizheng10, @dgaliffiAMD

.github/CODEOWNERS:

* @coleramos425 @feizheng10 @dgaliffiAMD

# Documentation files
docs/ @ROCm/rocm-documentation
*.md @ROCm/rocm-documentation
*.rst @ROCm/rocm-documentation
.readthedocs.yaml @ROCm/rocm-documentation

# Packaging
cmake/ @koomie
tests/ @koomie
CMakeLists.txt @koomie
utils/ @koomie
